__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/
env/
ENV/

Pipfile.lock

*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

.env
.env.*

.idea/

.coverage
htmlcov/
.pytest_cache/

*.pid
*.seed

.ruff_cache/

logs/
*.log

*.sql
